
oldbinaries/

bootloader/

gem5-resources/*
*.img
*.iso
*.os
run-scripts/dist/testrun/*
*vscode*
*/simout
*/m5out
*/rundir
.vscode-ctags
*/.vscode-ctags
gem5/ext/ramulator
gem5/output

ARMIMAGE
output-ssip/*
output-timetest-solorun/*
output-timetest-corun1/*
output-timetest-corun2/*

runkjb

output-basic/TimingResult
